@import url(./essential/reset.css);
@import url(./essential/sizes.css);
@import url(./essential/type-scale.css);
@import url(./utils/utilityClasses.css);
@import url(./comp/header.css);
@import url(./comp/footer.css);
@import url(./comp/buttons.css);
@import url(./page/about.css);
@import url(./page/services.css);
:root {
  --hsl-white-100: 0 0% 100%;
  --hsl-white-200: 0 0% 91%;
  --hsl-white-300: 0 0% 82%;
  --hsl-white-400: 0 0% 73%;
  --hsl-white-500: 0 0% 64%;
  --hsl-black-100: 0 0% 10%;
  --hsl-black-200: 0 0% 9%;
  --hsl-black-300: 0 0% 8%;
  --hsl-black-400: 0 0% 7%;
  --hsl-black-500: 0 0% 0%;
  --clr-white-100: #ffffff;
  --clr-white-200: #fafbfb;
  --clr-white-300: #f8f9f9;
  --clr-white-400: #f4f6f6;
  --clr-white-500: #eaeeee;
  --clr-black-100: hsl(0, 0%, 10%);
  --clr-black-200: hsl(0, 0%, 9%);
  --clr-black-300: hsl(0, 0%, 8%);
  --clr-black-400: hsl(0, 0%, 7%);
  --clr-black-500: hsl(0, 0%, 0%);
  --clr-primary-100: #29abe2;
  --clr-primary-500: rgb(41, 171, 226);
  --clr-primary-700: #2998e2;
  --clr-primary-800: #1a6b8d;
  --clr-primary-900: #0a2a38;
  --clr-accent-500: #232323;
  --clr-gradient-100: hsl(87, 54%, 52%);
  --clr-gradient-900: hsl(177, 75%, 37%);
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.563rem;
  --fs-600: 1.953rem;
  --fs-700: 2.441rem;
  --fs-800: 3.052rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.563rem;
  --fs-600: 1.953rem;
  --fs-700: 2.441rem;
  --fs-800: 3.052rem;
}

.clr-white-100 {
  color: #ffffff;
}

.clr-white-200 {
  color: #fafbfb;
}

.clr-white-300 {
  color: #f8f9f9;
}

.clr-white-400 {
  color: #f4f6f6;
}

.clr-white-500 {
  color: #eaeeee;
}

.clr-black-100 {
  color: hsl(0, 0%, 10%);
}

.clr-black-200 {
  color: hsl(0, 0%, 9%);
}

.clr-black-300 {
  color: hsl(0, 0%, 8%);
}

.clr-black-400 {
  color: hsl(0, 0%, 7%);
}

.clr-black-500 {
  color: hsl(0, 0%, 0%);
}

.clr-primary-100 {
  color: #29abe2;
}

.clr-primary-500 {
  color: rgb(41, 171, 226);
}

.clr-primary-700 {
  color: #2998e2;
}

.clr-primary-800 {
  color: #1a6b8d;
}

.clr-primary-900 {
  color: #0a2a38;
}

.clr-accent-500 {
  color: #232323;
}

.clr-gradient-100 {
  color: hsl(87, 54%, 52%);
}

.clr-gradient-900 {
  color: hsl(177, 75%, 37%);
}

.main-content {
  width: min(100ch, 100% - 1rem);
  margin-inline: auto;
  margin-block-start: 2rem;
}

.services-wrapper {
  --__no-of-cols: 3;
  display: grid;
  grid-template-columns: repeat(var(--__no-of-cols), 1fr);
  width: min(70vw, 100% - 2rem);
  margin-inline: auto;
}
.services-wrapper .service-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.services-wrapper .service-card .img-container {
  width: 70%;
  overflow: hidden;
  border-radius: 100vw;
}
.services-wrapper .service-card .img-container img {
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.services-wrapper .service-card > *:not(.img-container) {
  margin: 0;
}
.services-wrapper .service-card .service-label {
  color: var(--clr-primary-800);
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
.services-wrapper .service-card .service-subtext {
  line-height: 1.4;
  width: 80%;
  font-size: 0.8rem;
}
@media screen and (max-width: 768px) {
  .services-wrapper {
    --__no-of-cols: 2;
  }
}
@media screen and (max-width: 500px) {
  .services-wrapper {
    --__no-of-cols: 1;
  }
}

.contact-form-wrapper {
  background: var(--clr-primary-800);
  padding: 2rem 4rem;
  margin-block: 6rem;
  display: grid;
  place-content: center;
  --__br-outer: 1rem;
  --__br-inner: calc(var(--__br-outer) / 2.5);
  --__gap: 0.2rem;
}
.contact-form-wrapper .row-1 > *:nth-child(1) {
  border-radius: var(--__br-outer) var(--__br-inner) var(--__br-inner) var(--__br-inner);
}
.contact-form-wrapper .row-1 > *:nth-child(2) {
  border-radius: var(--__br-inner) var(--__br-outer) var(--__br-inner) var(--__br-inner);
}
.contact-form-wrapper .row-2 > * {
  border-radius: var(--__br-inner);
}
.contact-form-wrapper .row-3 > * {
  border-radius: var(--__br-inner);
}
.contact-form-wrapper .row-4 > * {
  border-radius: var(--__br-inner) var(--__br-inner) var(--__br-outer) var(--__br-outer);
}
.contact-form-wrapper .contact-form {
  display: flex;
  flex-direction: column;
  gap: var(--__gap);
}
.contact-form-wrapper .contact-form .row {
  display: flex;
  gap: var(--__gap);
}
.contact-form-wrapper .contact-form .row input,
.contact-form-wrapper .contact-form .row textarea {
  flex-grow: 1;
  border: 0;
  padding: 0.5rem 1rem;
}

.mission-vision-wrapper {
  display: flex;
  flex-direction: column;
  margin-block: 2rem 4rem;
}
.mission-vision-wrapper .mission-img-container {
  display: none;
}
.mission-vision-wrapper * {
  margin: 0;
}
.mission-vision-wrapper .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
}
.mission-vision-wrapper .row .text-container {
  max-width: 50ch;
  text-align: center;
  margin-inline: auto;
}
.mission-vision-wrapper .section-logo-container {
  border: 0.2rem solid white;
  border-radius: 100vw;
  overflow: hidden;
  padding: 1.2rem;
  display: grid;
  place-content: center;
}
.mission-vision-wrapper .section-logo-container img {
  width: 5rem;
  aspect-ratio: 1;
}

@media screen and (width < 768px) {
  .row .text-container .mission-title {
    font-size: var(--fs-500);
    margin-block: 1rem 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .mission-vision-wrapper {
    display: grid;
    max-width: min(120ch, 100% - 2rem);
    margin-inline: auto;
    grid-template-columns: 2fr 3fr;
  }
  .mission-vision-wrapper .mission-img-container {
    display: block;
    position: relative;
  }
  .mission-vision-wrapper .mission-img-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 171, 226, 0.5);
  }
  .mission-vision-wrapper .mission-img-container img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .mission-vision-wrapper .text-section {
    display: flex;
    flex-direction: column;
    padding-block: 2rem;
  }
  .mission-vision-wrapper .row {
    margin-block: 2rem;
    position: relative;
    display: flex;
    align-items: center;
  }
  .mission-vision-wrapper .row .text-container {
    margin-inline: 20%;
    text-align: left;
    width: 35ch;
  }
  .mission-vision-wrapper .row .text-container .mission-title {
    font-weight: 700;
    font-size: var(--fs-600);
    margin: 0;
  }
  .mission-vision-wrapper .row .section-logo-container {
    position: absolute;
    left: -10%;
    border: 0.5rem solid white;
    border-radius: 100vw;
    overflow: hidden;
    padding: 1.5rem;
    display: grid;
    place-content: center;
  }
  .mission-vision-wrapper .row .section-logo-container svg {
    font-size: 10rem;
  }
  .mission-vision-wrapper .row .section-logo-container img {
    width: 5rem;
    aspect-ratio: 1;
  }
}
.mission-vision-wrapper {
  --__vision-clr: #885aba;
  --__mission-clr: #ffc037;
  --__goal-clr: #14c8bc;
}
.mission-vision-wrapper .mission-clr {
  background: var(--__mission-clr);
}
.mission-vision-wrapper .mission-clr-txt {
  color: var(--__mission-clr);
}
.mission-vision-wrapper .vision-clr {
  background: var(--__vision-clr);
}
.mission-vision-wrapper .vision-clr-txt {
  color: var(--__vision-clr);
}
.mission-vision-wrapper .goals-clr {
  background: var(--__goal-clr);
}
.mission-vision-wrapper .goals-clr-txt {
  color: var(--__goal-clr);
}

.page-404 {
  display: grid;
  place-content: center;
  padding-block: 3rem;
  text-align: center;
}
.page-404 h1 {
  margin-block-end: 0;
  font-size: clamp(4rem, 6vw, 6rem);
  font-weight: 800;
  color: var(--clr-primary-800);
}
.page-404 .cta-button {
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  margin-block: 2rem 1rem;
}

@media screen and (width > 768px) {
  .ndis {
    padding: 2rem;
  }
}
.ndis div:nth-child(1),
.ndis div:nth-child(2) {
  display: grid;
  height: 100%;
  place-content: center;
}
.ndis div:nth-child(1) img {
  margin-inline: auto;
}
.ndis div:nth-child(1) p {
  width: 75%;
  text-align: center;
  margin-inline: auto;
}
.ndis .ndis-logo {
  width: 70%;
}
.ndis div:nth-child(2) img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */