@import url(./essential/reset.css);
@import url(./essential/sizes.css);
@import url(./essential/type-scale.css);
@import url(./utils/utilityClasses.css);
@import url(./comp/header.css);
@import url(./comp/footer.css);
@import url(./comp/buttons.css);
@import url(./page/about.css);
@import url(./page/services.css);
:root {
  --hsl-white-100: 0 0% 100%;
  --hsl-white-200: 0 0% 91%;
  --hsl-white-300: 0 0% 82%;
  --hsl-white-400: 0 0% 73%;
  --hsl-white-500: 0 0% 64%;
  --hsl-black-100: 0 0% 10%;
  --hsl-black-200: 0 0% 9%;
  --hsl-black-300: 0 0% 8%;
  --hsl-black-400: 0 0% 7%;
  --hsl-black-500: 0 0% 0%;
  --clr-facebook: #3b5998;
  --gradient-instagram: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  --clr-white-100: #ffffff;
  --clr-white-200: #fafbfb;
  --clr-white-300: #f8f9f9;
  --clr-white-400: #f4f6f6;
  --clr-white-500: #eaeeee;
  --clr-black-100: hsl(0, 0%, 10%);
  --clr-black-200: hsl(0, 0%, 9%);
  --clr-black-300: hsl(0, 0%, 8%);
  --clr-black-400: hsl(0, 0%, 7%);
  --clr-black-500: hsl(0, 0%, 0%);
  --clr-primary-100: #29abe2;
  --clr-primary-500: rgb(41, 171, 226);
  --clr-primary-700: #2998e2;
  --clr-primary-800: #1a6b8d;
  --clr-primary-900: #0a2a38;
  --clr-accent-500: #232323;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.563rem;
  --fs-600: 1.953rem;
  --fs-700: 2.441rem;
  --fs-800: 3.052rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.563rem;
  --fs-600: 1.953rem;
  --fs-700: 2.441rem;
  --fs-800: 3.052rem;
}

.clr-white-100 {
  color: #ffffff;
}

.clr-white-200 {
  color: #fafbfb;
}

.clr-white-300 {
  color: #f8f9f9;
}

.clr-white-400 {
  color: #f4f6f6;
}

.clr-white-500 {
  color: #eaeeee;
}

.clr-black-100 {
  color: hsl(0, 0%, 10%);
}

.clr-black-200 {
  color: hsl(0, 0%, 9%);
}

.clr-black-300 {
  color: hsl(0, 0%, 8%);
}

.clr-black-400 {
  color: hsl(0, 0%, 7%);
}

.clr-black-500 {
  color: hsl(0, 0%, 0%);
}

.clr-primary-100 {
  color: #29abe2;
}

.clr-primary-500 {
  color: rgb(41, 171, 226);
}

.clr-primary-700 {
  color: #2998e2;
}

.clr-primary-800 {
  color: #1a6b8d;
}

.clr-primary-900 {
  color: #0a2a38;
}

.clr-accent-500 {
  color: #232323;
}

.fa-facebook:hover {
  color: var(--clr-facebook) !important;
}

.fa-instagram:hover {
  background-image: var(--gradient-instagram) !important;
  background-clip: text !important;
  background-size: 100% !important;
  -webkit-background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -moz-text-fill-color: transparent !important;
}

.fa-youtube:hover {
  color: red;
}

.main-content {
  width: min(100ch, 100% - 1rem);
  margin-inline: auto;
  margin-block-start: 2rem;
}

.services-wrapper {
  margin-block: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
@media screen and (width < 768px) {
  .services-wrapper .service-card {
    flex-basis: 15rem;
  }
}
.services-wrapper .service-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex-basis: 25%;
}
.services-wrapper .service-card .img-container {
  width: 12rem;
  overflow: hidden;
  border-radius: 100vw;
  margin-block-end: 0.5rem;
  aspect-ratio: 1;
}
.services-wrapper .service-card .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services-wrapper .service-card > *:not(.img-container) {
  margin: 0;
}
.services-wrapper .service-card .service-label {
  color: var(--clr-primary-500);
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
.services-wrapper .service-card .service-subtext {
  line-height: 1.4;
  width: 80%;
  font-size: 0.8rem;
}

.mission-vision-wrapper {
  display: flex;
  flex-direction: column;
  margin-block: 2rem 4rem;
}
.mission-vision-wrapper .mission-img-container {
  display: none;
}
.mission-vision-wrapper * {
  margin: 0;
}
.mission-vision-wrapper .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
}
.mission-vision-wrapper .row .text-container {
  max-width: 50ch;
  text-align: center;
  margin-inline: auto;
}
.mission-vision-wrapper .section-logo-container {
  border: 0.2rem solid white;
  border-radius: 100vw;
  overflow: hidden;
  padding: 1.2rem;
  display: grid;
  place-content: center;
}
.mission-vision-wrapper .section-logo-container img {
  width: 5rem;
  aspect-ratio: 1;
}

@media screen and (width < 768px) {
  .row .text-container .mission-title {
    font-size: var(--fs-500);
    margin-block: 1rem 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .mission-vision-wrapper {
    display: grid;
    max-width: min(120ch, 100% - 2rem);
    margin-inline: auto;
    grid-template-columns: 2fr 3fr;
  }
  .mission-vision-wrapper .mission-img-container {
    display: block;
    position: relative;
  }
  .mission-vision-wrapper .mission-img-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 171, 226, 0.5);
  }
  .mission-vision-wrapper .mission-img-container img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .mission-vision-wrapper .text-section {
    display: flex;
    flex-direction: column;
    padding-block: 2rem;
  }
  .mission-vision-wrapper .row {
    margin-block: 2rem;
    position: relative;
    display: flex;
    align-items: center;
  }
  .mission-vision-wrapper .row .text-container {
    margin-inline: 20%;
    text-align: left;
    width: 35ch;
  }
  .mission-vision-wrapper .row .text-container .mission-title {
    font-weight: 700;
    font-size: var(--fs-600);
    margin: 0;
  }
  .mission-vision-wrapper .row .section-logo-container {
    position: absolute;
    left: -10%;
    border: 0.5rem solid white;
    border-radius: 100vw;
    overflow: hidden;
    padding: 1.5rem;
    display: grid;
    place-content: center;
  }
  .mission-vision-wrapper .row .section-logo-container svg {
    font-size: 10rem;
  }
  .mission-vision-wrapper .row .section-logo-container img {
    width: 5rem;
    aspect-ratio: 1;
  }
}
.mission-vision-wrapper {
  --__vision-clr: #885aba;
  --__mission-clr: #ffc037;
  --__goal-clr: #14c8bc;
}
.mission-vision-wrapper .mission-clr {
  background: var(--__mission-clr);
}
.mission-vision-wrapper .mission-clr-txt {
  color: var(--__mission-clr);
}
.mission-vision-wrapper .vision-clr {
  background: var(--__vision-clr);
}
.mission-vision-wrapper .vision-clr-txt {
  color: var(--__vision-clr);
}
.mission-vision-wrapper .goals-clr {
  background: var(--__goal-clr);
}
.mission-vision-wrapper .goals-clr-txt {
  color: var(--__goal-clr);
}

.page-404 {
  display: grid;
  place-content: center;
  padding-block: 3rem;
  text-align: center;
}
.page-404 h1 {
  margin-block-end: 0;
  font-size: clamp(4rem, 6vw, 6rem);
  font-weight: 800;
  color: var(--clr-primary-800);
}
.page-404 .cta-button {
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  margin-block: 2rem 1rem;
}

@media screen and (width > 768px) {
  .ndis {
    padding: 2rem;
  }
}
.ndis div:nth-child(1),
.ndis div:nth-child(2) {
  display: grid;
  height: 100%;
  place-content: center;
}
.ndis div:nth-child(1) {
  gap: 1rem;
}
.ndis div:nth-child(1) img {
  width: 50%;
  margin-inline: auto;
}
.ndis div:nth-child(1) p {
  width: 75%;
  text-align: center;
  margin-inline: auto;
}
.ndis div:nth-child(2) img {
  width: 100%;
  scale: 1.2;
}

.contact-form-wrapper {
  gap: 0;
}
.contact-form-wrapper .contact-form {
  padding-block: 2rem;
  padding-inline: 4rem;
}
.contact-form-wrapper h2,
.contact-form-wrapper p,
.contact-form-wrapper .section-tile {
  text-align: left;
}
.contact-form-wrapper .section-tile {
  font-size: var(--fs-700);
}
.contact-form-wrapper form {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 1rem;
}
.contact-form-wrapper form input:focus, .contact-form-wrapper form input:focus-visible,
.contact-form-wrapper form textarea:focus,
.contact-form-wrapper form textarea:focus-visible {
  outline: 0;
}
.contact-form-wrapper form input::-webkit-outer-spin-button,
.contact-form-wrapper form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contact-form-wrapper form input[type=number] {
  -moz-appearance: textfield;
}
.contact-form-wrapper form input,
.contact-form-wrapper form textarea {
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  padding: 1rem 0.5rem;
  color: black;
  transition: 0.1s ease;
}
.contact-form-wrapper form input:focus, .contact-form-wrapper form input:focus-visible,
.contact-form-wrapper form textarea:focus,
.contact-form-wrapper form textarea:focus-visible {
  border: 1px solid black;
}
.contact-form-wrapper form textarea {
  resize: none;
}
.contact-form-wrapper .contact-info-container {
  position: relative;
  word-break: break-all;
}
.contact-form-wrapper .contact-info-container .contact-info {
  background: var(--clr-primary-800);
  width: 100%;
  padding: 5rem 2rem;
  display: grid;
  place-content: center;
}
@media screen and (width >= 768px) {
  .contact-form-wrapper .contact-info-container .contact-info {
    position: absolute;
    top: 25%;
  }
}
.contact-form-wrapper .contact-info-container .contact-info ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-form-wrapper .contact-info-container .contact-info ul li {
  font-size: var(--fs-400);
  color: white;
}
.contact-form-wrapper .contact-info-container .contact-info ul li span {
  margin-inline: 0.8rem;
}
.contact-form-wrapper .contact-info-container .contact-links {
  background: var(--clr-primary-500);
  width: 12rem;
  margin-inline-start: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem;
  gap: 1.5rem;
  color: white;
  font-size: var(--fs-500);
}
.contact-form-wrapper .contact-info-container .contact-links a {
  text-decoration: none;
}
.contact-form-wrapper .submit-btn {
  padding: 0.5rem 1rem;
  width: 100%;
  border: 0;
  border: 1px solid var(--clr-accent-500);
  background: var(--clr-accent-500);
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 6px;
  margin-block: 2rem;
  transition: background 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.contact-form-wrapper .submit-btn:hover {
  color: var(--clr-accent-500);
  cursor: pointer;
  background: transparent;
  box-shadow: 0px 8px 27px -7px rgba(66, 68, 90, 0.48);
}
@media screen and (width < 768px) {
  .contact-form-wrapper .contact-form {
    padding: 0;
  }
  .contact-form-wrapper .contact-info-container .contact-links {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    padding: 1rem 0.5rem;
  }
  .contact-form-wrapper .contact-info-container .contact-info {
    padding: 1rem 0.5rem;
    background: var(--clr-primary-500);
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}
.gallery .gallery-item {
  flex-basis: 15rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  overflow: hidden;
}
.gallery .gallery-item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */