@import url(./essential/reset.css);
@import url(./essential/sizes.css);
@import url(./essential/type-scale.css);
@import url(./utils/utilityClasses.css);
@import url(./comp/header.css);
@import url(./comp/footer.css);
@import url(./comp/buttons.css);
@import url(./page/about.scss);
:root {
  --hsl-white-100: 0 0% 100%;
  --hsl-white-200: 0 0% 91%;
  --hsl-white-300: 0 0% 82%;
  --hsl-white-400: 0 0% 73%;
  --hsl-white-500: 0 0% 64%;
  --hsl-black-100: 0 0% 10%;
  --hsl-black-200: 0 0% 9%;
  --hsl-black-300: 0 0% 8%;
  --hsl-black-400: 0 0% 7%;
  --hsl-black-500: 0 0% 0%;
  --clr-white-100: #ffffff;
  --clr-white-200: #fafbfb;
  --clr-white-300: #f8f9f9;
  --clr-white-400: #f4f6f6;
  --clr-white-500: #eaeeee;
  --clr-black-100: hsl(0, 0%, 10%);
  --clr-black-200: hsl(0, 0%, 9%);
  --clr-black-300: hsl(0, 0%, 8%);
  --clr-black-400: hsl(0, 0%, 7%);
  --clr-black-500: hsl(0, 0%, 0%);
  --clr-primary-100: #29abe2;
  --clr-primary-500: rgb(41, 171, 226);
  --clr-primary-700: #2998e2;
  --clr-primary-800: #1a6b8d;
  --clr-primary-900: #0a2a38;
  --clr-accent-500: #232323;
  --clr-gradient-100: hsl(87, 54%, 52%);
  --clr-gradient-900: hsl(177, 75%, 37%);
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.563rem;
  --fs-600: 1.953rem;
  --fs-700: 2.441rem;
  --fs-800: 3.052rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.563rem;
  --fs-600: 1.953rem;
  --fs-700: 2.441rem;
  --fs-800: 3.052rem;
}

.clr-white-100 {
  color: #ffffff;
}

.clr-white-200 {
  color: #fafbfb;
}

.clr-white-300 {
  color: #f8f9f9;
}

.clr-white-400 {
  color: #f4f6f6;
}

.clr-white-500 {
  color: #eaeeee;
}

.clr-black-100 {
  color: hsl(0, 0%, 10%);
}

.clr-black-200 {
  color: hsl(0, 0%, 9%);
}

.clr-black-300 {
  color: hsl(0, 0%, 8%);
}

.clr-black-400 {
  color: hsl(0, 0%, 7%);
}

.clr-black-500 {
  color: hsl(0, 0%, 0%);
}

.clr-primary-100 {
  color: #29abe2;
}

.clr-primary-500 {
  color: rgb(41, 171, 226);
}

.clr-primary-700 {
  color: #2998e2;
}

.clr-primary-800 {
  color: #1a6b8d;
}

.clr-primary-900 {
  color: #0a2a38;
}

.clr-accent-500 {
  color: #232323;
}

.clr-gradient-100 {
  color: hsl(87, 54%, 52%);
}

.clr-gradient-900 {
  color: hsl(177, 75%, 37%);
}

.main-content {
  width: min(100ch, 100% - 1rem);
  margin-inline: auto;
  margin-block-start: 2rem;
}

.mission-vison-cards-container {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 700px) {
  .mission-vison-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.mission-vison-cards-container .card {
  aspect-ratio: 3/2;
  background: var(--clr-primary-800);
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  box-shadow: -1px 6px 19px 0px hsl(var(--hsl-black-300)/0.5);
  transition: 0.5s box-shadow cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
  overflow: hidden;
}
.mission-vison-cards-container .card:hover {
  box-shadow: -1px 6px 19px 0px hsl(var(--hsl-black-300)/0.8);
}
.mission-vison-cards-container .card .card-title {
  font-weight: 700;
  font-size: var(--fs-400);
}
.mission-vison-cards-container .card .card-content {
  width: 85%;
  color: rgba(238, 255, 238, 0.8862745098);
}
.mission-vison-cards-container .card img {
  scale: 1.45;
  opacity: 0.3;
  -o-object-fit: contain;
     object-fit: contain;
  mix-blend-mode: multiply;
}
.mission-vison-cards-container .card .card-main {
  --__margin: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: var(--__margin);
  height: calc(100% - var(--__margin) * 2);
  width: calc(100% - var(--__margin) * 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mission-vison-cards-container .contact-btn {
  background: white;
  border: 0;
  margin-inline-start: auto;
  width: 60%;
  padding: 0.5rem 1.5rem;
  border-radius: 50vw;
}
.mission-vison-cards-container .contact-btn:hover {
  background: lightgrey;
  cursor: pointer;
}

.services-wrapper {
  --__no-of-cols: 3;
  display: grid;
  grid-template-columns: repeat(var(--__no-of-cols), 1fr);
  width: min(70vw, 100% - 2rem);
  margin-inline: auto;
}
.services-wrapper .service-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.services-wrapper .service-card .img-container {
  width: 70%;
  overflow: hidden;
  border-radius: 100vw;
}
.services-wrapper .service-card .img-container img {
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.services-wrapper .service-card > *:not(.img-container) {
  margin: 0;
}
.services-wrapper .service-card .service-label {
  color: var(--clr-primary-800);
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
.services-wrapper .service-card .service-subtext {
  line-height: 1.4;
  width: 80%;
  font-size: 0.8rem;
}
@media screen and (max-width: 768px) {
  .services-wrapper {
    --__no-of-cols: 2;
  }
}
@media screen and (max-width: 500px) {
  .services-wrapper {
    --__no-of-cols: 1;
  }
}

.contact-form-wrapper {
  background: var(--clr-primary-800);
  padding: 2rem 4rem;
  margin-block: 6rem;
  display: grid;
  place-content: center;
  --__br-outer: 1rem;
  --__br-inner: calc(var(--__br-outer) / 2.5);
  --__gap: 0.2rem;
}
.contact-form-wrapper .row-1 > *:nth-child(1) {
  border-radius: var(--__br-outer) var(--__br-inner) var(--__br-inner) var(--__br-inner);
}
.contact-form-wrapper .row-1 > *:nth-child(2) {
  border-radius: var(--__br-inner) var(--__br-outer) var(--__br-inner) var(--__br-inner);
}
.contact-form-wrapper .row-2 > * {
  border-radius: var(--__br-inner);
}
.contact-form-wrapper .row-3 > * {
  border-radius: var(--__br-inner);
}
.contact-form-wrapper .row-4 > * {
  border-radius: var(--__br-inner) var(--__br-inner) var(--__br-outer) var(--__br-outer);
}
.contact-form-wrapper .contact-form {
  display: flex;
  flex-direction: column;
  gap: var(--__gap);
}
.contact-form-wrapper .contact-form .row {
  display: flex;
  gap: var(--__gap);
}
.contact-form-wrapper .contact-form .row input,
.contact-form-wrapper .contact-form .row textarea {
  flex-grow: 1;
  border: 0;
  padding: 0.5rem 1rem;
}/*# sourceMappingURL=style.css.map */