.text-center {
  text-align: center;
  display: block;
  margin-inline: auto;
}

.subtext {
  text-align: center;
  max-width: 60ch;
  margin: 0;
}

.section-title {
  margin: 0;
  text-align: center;
  color: var(--clr-primary-800);
}

.section-gap {
  margin-block-start: 7rem;
}

.label {
  text-transform: uppercase;
  font-weight: bold;
}

/* Margin Inline Start */
.mis-1 {
  margin-inline-start: 1rem;
}
.mis-2 {
  margin-inline-start: 2rem;
}
.mis-3 {
  margin-inline-start: 3rem;
}
.mis-4 {
  margin-inline-start: 4rem;
}
.mis-5 {
  margin-inline-start: 5rem;
}
.mis-6 {
  margin-inline-start: 6rem;
}
.mis-7 {
  margin-inline-start: 7rem;
}
.mis-8 {
  margin-inline-start: 8rem;
}
.mis-9 {
  margin-inline-start: 9rem;
}
.mis-10 {
  margin-inline-start: 10rem;
}

/* Margin Inline End */
.mie-1 {
  margin-inline-end: 1rem;
}
.mie-2 {
  margin-inline-end: 2rem;
}
.mie-3 {
  margin-inline-end: 3rem;
}
.mie-4 {
  margin-inline-end: 4rem;
}
.mie-5 {
  margin-inline-end: 5rem;
}
.mie-6 {
  margin-inline-end: 6rem;
}
.mie-7 {
  margin-inline-end: 7rem;
}
.mie-8 {
  margin-inline-end: 8rem;
}
.mie-9 {
  margin-inline-end: 9rem;
}
.mie-10 {
  margin-inline-end: 10rem;
}

/* Margin Block Start */
.mbs-1 {
  margin-block-start: 1rem;
}
.mbs-2 {
  margin-block-start: 2rem;
}
.mbs-3 {
  margin-block-start: 3rem;
}
.mbs-4 {
  margin-block-start: 4rem;
}
.mbs-5 {
  margin-block-start: 5rem;
}
.mbs-6 {
  margin-block-start: 6rem;
}
.mbs-7 {
  margin-block-start: 7rem;
}
.mbs-8 {
  margin-block-start: 8rem;
}
.mbs-9 {
  margin-block-start: 9rem;
}
.mbs-10 {
  margin-block-start: 10rem;
}

/* Margin Block End */
.mbe-1 {
  margin-block-end: 1rem;
}
.mbe-2 {
  margin-block-end: 2rem;
}
.mbe-3 {
  margin-block-end: 3rem;
}
.mbe-4 {
  margin-block-end: 4rem;
}
.mbe-5 {
  margin-block-end: 5rem;
}
.mbe-6 {
  margin-block-end: 6rem;
}
.mbe-7 {
  margin-block-end: 7rem;
}
.mbe-8 {
  margin-block-end: 8rem;
}
.mbe-9 {
  margin-block-end: 9rem;
}
.mbe-10 {
  margin-block-end: 10rem;
}

/* Padding Inline Start */
.pis-1 {
  padding-inline-start: 1rem;
}
.pis-2 {
  padding-inline-start: 2rem;
}
.pis-3 {
  padding-inline-start: 3rem;
}
.pis-4 {
  padding-inline-start: 4rem;
}
.pis-5 {
  padding-inline-start: 5rem;
}
.pis-6 {
  padding-inline-start: 6rem;
}
.pis-7 {
  padding-inline-start: 7rem;
}
.pis-8 {
  padding-inline-start: 8rem;
}
.pis-9 {
  padding-inline-start: 9rem;
}
.pis-10 {
  padding-inline-start: 10rem;
}

/* Padding Inline End */
.pie-1 {
  padding-inline-end: 1rem;
}
.pie-2 {
  padding-inline-end: 2rem;
}
.pie-3 {
  padding-inline-end: 3rem;
}
.pie-4 {
  padding-inline-end: 4rem;
}
.pie-5 {
  padding-inline-end: 5rem;
}
.pie-6 {
  padding-inline-end: 6rem;
}
.pie-7 {
  padding-inline-end: 7rem;
}
.pie-8 {
  padding-inline-end: 8rem;
}
.pie-9 {
  padding-inline-end: 9rem;
}
.pie-10 {
  padding-inline-end: 10rem;
}

/* Padding Block Start */
.pbs-1 {
  padding-block-start: 1rem;
}
.pbs-2 {
  padding-block-start: 2rem;
}
.pbs-3 {
  padding-block-start: 3rem;
}
.pbs-4 {
  padding-block-start: 4rem;
}
.pbs-5 {
  padding-block-start: 5rem;
}
.pbs-6 {
  padding-block-start: 6rem;
}
.pbs-7 {
  padding-block-start: 7rem;
}
.pbs-8 {
  padding-block-start: 8rem;
}
.pbs-9 {
  padding-block-start: 9rem;
}
.pbs-10 {
  padding-block-start: 10rem;
}

/* Padding Block End */
.pbe-1 {
  padding-block-end: 1rem;
}
.pbe-2 {
  padding-block-end: 2rem;
}
.pbe-3 {
  padding-block-end: 3rem;
}
.pbe-4 {
  padding-block-end: 4rem;
}
.pbe-5 {
  padding-block-end: 5rem;
}
.pbe-6 {
  padding-block-end: 6rem;
}
.pbe-7 {
  padding-block-end: 7rem;
}
.pbe-8 {
  padding-block-end: 8rem;
}
.pbe-9 {
  padding-block-end: 9rem;
}
.pbe-10 {
  padding-block-end: 10rem;
}

/* Margin Inline Auto */
.mi-auto {
  margin-inline: auto;
}

/* Margin Block */
.mb-1 {
  margin-block: 1rem;
}
.mb-2 {
  margin-block: 2rem;
}
.mb-3 {
  margin-block: 3rem;
}
.mb-4 {
  margin-block: 4rem;
}
.mb-5 {
  margin-block: 5rem;
}
.mb-6 {
  margin-block: 6rem;
}
.mb-7 {
  margin-block: 7rem;
}
.mb-8 {
  margin-block: 8rem;
}
.mb-9 {
  margin-block: 9rem;
}
.mb-10 {
  margin-block: 10rem;
}
