$colors: (
  white: (
    100: #ffffff,
    200: #fafbfb,
    300: #f8f9f9,
    400: #f4f6f6,
    500: #eaeeee,
  ),
  black: (
    100: hsl(0, 0%, 10%),
    200: hsl(0, 0%, 9%),
    300: hsl(0, 0%, 8%),
    400: hsl(0, 0%, 7%),
    500: hsl(0, 0%, 0%),
  ),
  primary: (
    100: #29abe2,
    500: rgb(41, 171, 226),
    700: #2998e2,
    800: #1a6b8d,
    900: #0a2a38,
  ),
  accent: (
    500: #232323,
  ),
  gradient: (
    100: hsl(87, 54%, 52%),
    900: hsl(177, 75%, 37%),
  ),
);
