$type-scale: (
  sizes: (
    300: 1rem,
    400: 1.25rem,
    500: 1.563rem,
    600: 1.953rem,
    700: 2.441rem,
    800: 3.052rem,
  ),
);

$sizing: (
  size: (
    100: 1rem,
    200: 2rem,
    300: 3rem,
    400: 4rem,
    500: 5rem,
    600: 6rem,
    700: 7rem,
    800: 8rem,
    900: 9rem,
  ),
);
