.page-location {
  font-weight: bold;

  text-align: center;
  text-transform: uppercase;
  font-size: var(--fs-300);
  & > a {
    padding: 5px 0;
    margin-inline: 0.4rem;
    display: inline-block;
    color: white;
    text-decoration: none;
    position: relative;

    transition: color 0.2s ease;
    &:hover {
      color: var(--clr-primary-500);
      &::before {
        background: white;
        width: 100%;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 3px;
      left: 0;
      bottom: 0;
      background: var(--clr-primary-500);

      transition: all 0.3s ease;
    }
  }
}
.grid-2 {
  gap: 2rem;
}
.img-wrapper {
  display: grid;
  place-items: center;

  img {
    aspect-ratio: 1;
    object-fit: cover;
    width: 30vw;

    @media screen and (width < 768px) {
      width: 100%;
    }
  }
}

// .service-section {
//   .services-text-container {
//     @media screen and (width > 768px) {
//       .section-title {
//         font-size: var(--fs-700);
//       }
//     }
//   }

//   .sevice-item {
//     margin-block: 8rem;
//     display: flex;
//     gap: 1rem;

//     .services-img-container,
//     .services-text-container {
//       flex-basis: 50%;
//     }

//     .services-img-container {
//       display: grid;
//       place-items: center;
//     }

//     .services-text-container {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;

//       .section-title,
//       h2 {
//         margin: 0;
//       }
//       .service-description {
//         text-align: justify;
//       }
//     }

//     @media screen and (width > 600px) {
//     }

//     &:nth-of-type(even) {
//       // flex-direction: row-reverse;
//       background: red;
//     }

//     @media screen and (width < 600px) {
//       flex-direction: column;
//     }
//   }
// }

.service-section {
  .service-item {
    display: grid;
    margin-block: 6rem;
    gap: 1rem;

    .services-text-container {
      h1,
      h2,
      h3 {
        margin: 0;
      }
    }
  }
  @media screen and (width < 768px) {
    .service-item {
      .services-img-container {
        display: grid;
        padding: 1rem;
        place-items: center;
        img {
          border-radius: 0.05vw;
          width: 70vw;
        }
      }
    }
  }
  @media screen and (width > 768px) {
    .service-item {
      grid-template-columns: 1fr 1fr;
      // margin-block: 10rem;

      .services-text-container,
      .services-img-container {
        display: grid;
        place-content: center;
      }

      .services-text-container {
        .service-description {
          text-align: justify;
        }

        .section-title {
          font-size: var(--fs-700);
        }
      }
    }

    .service-item:nth-child(odd) {
      .services-img-container {
        grid-column: 1;
        grid-row: 1;
      }
    }
  }
}
