footer {
  background: var(--clr-primary-500);
  padding-block: 2rem;
  color: white;

  margin-block-start: 5vw;

  a {
    text-decoration: none;

    &:hover {
      color: white;
    }
  }

  .footer-grid {
    --__footer-columns: 4;

    @media screen and (width <= 1024px) {
      --__footer-columns: 3;
    }

    @media screen and (width <= 768px) {
      --__footer-columns: 2;
      gap: 2rem;
    }
    @media screen and (width <= 425px) {
      --__footer-columns: 1;
      gap: 2rem;
    }

    display: grid;
    gap: 1rem;
    padding-block: 4rem;

    grid-template-columns: repeat(var(--__footer-columns), 1fr);

    .social-links {
      display: flex;
      width: 100%;
      gap: 1rem;

      align-items: center;

      font-size: var(--fs-400);
      li {
        width: fit-content;
      }
    }

    ul,
    li {
      word-break: break-all;
    }
  }
  .label {
    font-weight: 800;
    margin: 0;
    width: fit-content;
    font-size: var(--fs-500);
    text-decoration: none;

    transition: 0.2s ease;

    a:hover,
    &:hover {
      text-decoration: none;
      color: var(--clr-accent-500);
    }
  }

  .logo-img {
    width: 80%;
    filter: brightness(0) invert(1);
  }

  ul[role="list"] li {
    font-weight: 500;
  }
}

.copyright {
  font-size: small;
  a {
    text-decoration: none;
  }
}
