footer {
  background: var(--clr-primary-500);
  padding-block: 2rem;
  color: white;

  margin-block-start: 5vw;

  a {
    text-decoration: none;

    &:hover {
      color: white;
    }
  }

  .footer-grid {
    --__footer-columns: 4;

    @media screen and (width <= 1024px) {
      --__footer-columns: 3;
    }

    @media screen and (width <= 768px) {
      --__footer-columns: 2;
      gap: 2rem;
    }
    @media screen and (width <= 425px) {
      --__footer-columns: 1;
      gap: 2rem;
    }

    display: grid;
    gap: 1rem;
    padding-block: 4rem;

    grid-template-columns: repeat(var(--__footer-columns), 1fr);

    .social-links {
      display: flex;
      width: 100%;
      gap: 1rem;

      align-items: center;

      font-size: var(--fs-400);
      li {
        width: fit-content;
      }
    }

    ul,
    li {
      word-break: break-all;
    }

    @media screen and (width>768px) {
      & > *:not(:nth-child(1)) {
        padding-inline-start: 2rem;
        margin-inline-start: 2rem;
      }
    }
  }

  .label {
    font-weight: 800;
    margin: 0;
    width: fit-content;
    font-size: var(--fs-500);
    text-decoration: none;
    position: relative;

    margin-block-end: 0.5rem;
    padding-block-end: 0.5rem;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background: white;
      height: 4px;
      min-width: 25%;

      transition: ease 0.5s;
    }

    a,
    a:hover,
    &:hover {
      text-decoration: none;
      color: white;
      color: inherit;
    }
  }

  .logo-img {
    width: 80%;
    filter: brightness(0) invert(1);
  }

  ul[role="list"] li {
    font-weight: 500;
  }
}

.copyright {
  font-size: small;
  a {
    text-decoration: none;
  }
}

.acknowledges {
  font-size: 1rem;

  max-width: 100ch;
  margin-inline: auto;

  img {
    height: 1rem;
    display: inline-block;
  }
}

#footer-line {
  background: white;
  width: 90%;
  margin-block: 2rem;
}
